/* Estilos para el pie de página */
footer {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 20px 30px;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.socialnet {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialnet img {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 30px;
}

.bar a {
  display: block;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
  color: #464646;
  font-size: 1em;
  max-height: 60px;
  margin: 1rem 0;
}

.bar a:hover {
  color: #9b9b9b;
}

.bar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.contacts{
  display: flex;
  flex-direction: column;
}
.contacts a img {
  vertical-align: middle;
  max-height: 30px;
  margin-right: 1rem;
}

.contacts {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 20px;
}

.contacts a {
  color: #505050;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2em;
}

.contacts a:hover{
  color: #9b9b9b;
}

.payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.payments img {
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.payments img:hover {
  transform: scale(1.05);
}

.copyrights {
  margin-top: 20px;
  font-weight: 600;

}

.copyrights a, p {
  text-decoration: none;
  transition: color 0.2s ease;
  color: #464646;

}

.copyrights a:hover {
  color: #9b9b9b;
}