/* Estilos para el menú de navegación */
nav {
  background-color: #2c2c2c;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #cccccc;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffcc00;
}

nav img {
  max-height: 100px;
}

#cart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#cart-icon :hover{
  transform: scale(1.15);
  transition:  ease 0.3s;

}

.cart-count {
  background-color: rgb(185, 111, 14);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: 1;
  right: 1;
}

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: flex-end;
  z-index: 999;
}

.cart-modal.open {
  display: flex;
}

.cart-content {
  background-color: #fff;
  width: 350px;
  max-width: 90%;
  height: 100%;
  padding: 2rem 1.5rem;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
  position: relative;
  overflow-y: auto;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
.close-btn:hover {
  color: #e74c3c;
}

.item-carrito {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.item-carrito img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.item-carrito .info-superior {
  font-weight: bold;
  font-size: 1.1rem;
}

.item-carrito .info-inferior {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #555;
}

.eliminar-producto {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.2s;
}

.eliminar-producto:hover {
  background-color: #c0392b;
}


#checkout-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}
#checkout-btn:hover {
  background-color: #219150;
}
