<footer>
  <div class="socialnet">
    <a href="https://instagram.com/sqhcarteras" target="_blank">
      <img src="img/icon/ig-logo.png" alt="ig">
    </a>
    <a href="https://www.facebook.com/Squashba-402773506825882/" target="_blank">
      <img src="img/icon/fb-logo.png" alt="fb">
    </a>
  </div>
  <div class="bar">
    <ul>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="como-comprar.html">Cómo Comprar</a></li>
      <li><a href="devolucion.html">Política de Devolución</a></li>
      <li><a href="nosotros.html">Quiénes Somos</a></li>
      <li><a href="prensa.html">Prensa</a></li>
      <li><a href="seguimiento.html">Seguimiento Oca</a></li>
      <li><a href="puntos-retiro.html">Puntos de Retiro</a></li>
    </ul>
  </div>
  <div class="contacts">
    <a href="https://wa.me/5491133796472">
      <img src="img/icon/wpp-icon.png"> 5491133796472
    </a>
    <a href="tel:113-379-6472">
      <img src="img/icon/phone-icon.png"> 11-3379-6472
    </a>
    <a href="mailto:hola@sqhcarteras.com">
      <img src="img/icon/email-icon.png"> hola@sqhcarteras.com
    </a>
    <a>
      <img src="img/icon/map-icon.png"> Av. Rivadavia 5287 - C.A.B.A.
    </a>
  </div>
  <div class="payments">
    <img src="img/misc/visa-logo.png">
    <img src="img/misc/mastercard-logo.png">
    <img src="img/misc/amex-logo.png">
    <img src="img/misc/diners-logo.png">
    <img src="img/misc/cabal-logo.png">
    <img src="img/misc/tarjeta-naranja-logo.png">
    <img src="img/misc/cash-logo.png">
    <img src="img/misc/custom-logo.png">
    <img src="img/misc/other-logo.png">
    <img src="img/misc/argencard-logo.png">
    <img src="img/misc/cabaldebit-logo.png">
    <img src="img/misc/maestro-logo.png">
    <img src="img/misc/visadebit-logo.png">
    <img src="img/misc/pagofacil-logo.png">
    <img src="img/misc/rapipago-logo.png">
    <img src="img/misc/oca-logo.png">
    <img src="img/misc/andreani-logo.png">
  </div>
  <div class="copyrights">
    <p>&copy; 2025 SQH Carteras. Todos los derechos reservados.</p>
    <p>Defensa de las y los consumidores. Para reclamos <a
        href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario" target="_blank">ingresá acá.</a>
      / <a href="https://www.sqhcarteras.com/contacto/?order_cancellation_without_id=true" target="_blank">Botón de
        Arrepentimiento</a></p>
  </div>
</footer>