<nav>
  <div class="nav-left">
    <a href="index.html" class="logo">
      <img src="img/index/logo1.png" alt="Logo" />
    </a>
    <ul class="nav-links">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="productos.html">Productos</a></li>
      <li><a href="nosotros.html">Quiénes Somos</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <a id="cart-icon">
    <img src="img/icon/cart-icon1.png" alt="Carrito" width="30" />
    </a>
  </div>
</nav>